.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 490px;
  height: 500px;
  margin-top: 60px;
  /* border: 1px solid black;
    border-radius: 14px; */
}

.card img {
  height: 350px;
  width: 350px;
}

.card h2 {
  margin-bottom: 0px;
}

.card p {
  margin-top: 1px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.add-to-cart,
.remove-from-cart {
  border: 2px solid black;
  border-radius: 17px;
  padding: 7px 20px;
  cursor: pointer;
  font-weight: 1000;
}

.add-to-cart:hover,
.remove-from-cart:hover {
  background-color: black;
  color: white;
}
